<!--
    Copyright 2015 Park Si Hyeon

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.heywifi.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- IntroActivity - Check network status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- MainService - Scanning Wifi -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- RegisterPhoneActivity - MAC address -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- FoundActivity -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- BootCompleteReceiver - to start MainService -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="net.heywifi.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="net.heywifi.app.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="@string/naveroauth_label" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/MainActivityStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterPhoneActivity"
            android:label="@string/registerphone_label"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name=".FindPhoneActivity"
            android:label="@string/findphone_label"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name=".FindingPhoneActivityS01"
            android:label="@string/finding01_label"
            android:parentActivityName=".FindPhoneActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name=".FoundActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:theme="@style/IntroActivityStyle" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="net.heywifi.app" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />

        <receiver android:name=".PackageReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="net.heywifi.app.MainService" />

        <receiver android:name="net.heywifi.app.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="net.heywifi.app.MainAlarmReceiver" />

    </application>

</manifest>
